// ---
// Scaffolding
// ---

body {
  background-color: $body-background;
  border-top: 6px solid $brand-green;

  font-family: $font-family-base;
  color: $font-color-base;
  text-rendering: optimizeLegibility;
  @include font-smoothing(antialiased);
}

main {
  display: block;
}

section {
  background-color: $white;
  padding: 25px 0;
}

article {
  font-size: $article-font-size;
  line-height: $article-line-height;
}

h1, h2, h3, h4, h5, h6 {
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: $content-max-width;
}

