// ---
// Scaffolding
// ---

body {
  background: $body-background;

  font-family: $font-family-base;
  color: $font-color-base;
  text-rendering: optimizeLegibility;
  @include font-smoothing(antialiased);

  ::selection {
    background: $body-selection-background-color;
  }
}

main {
  border-top: 6px solid $brand-green;
  display: block;
}

header.site-header {
  $logotype-width: 191px;
  $logotype-height: 37px;

  #logotype {
    float: left;

    img {
      width: $logotype-width;
      height: $logotype-height;
    }

    h1 {
      display: none;
    }
  }

  .social-media-links {
    height: $logotype-height;
    float: right;

    ul {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      li {
        margin: 7px 2px 0 10px;
      }
    }
  }
  .wrapper {
    padding: 15px 0;
    @extend %clearfix;
  }
}

section {
  background-color: $white;
  padding: 25px 0;

  a {
    color: $link-color;
    text-decoration: underline;
    @include transition(all $link-transition-duration $link-transition-curve);
  }

  a:hover, a:focus {
    color: $link-hover-color;
    background: $link-hover-background-color;
  }

  p, h3 { margin: 1em 0; }
}

article {
  font-size: $article-font-size;
  line-height: $article-line-height;

  .article-content-wrapper {
    border-bottom: $article-separator-width solid $article-separator-color;
    padding-bottom: 1em;
    margin-bottom: 2em;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  ul {
    margin: 0 0 0 1em;
  }

  header {
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
      a {
        color: $article-heading-link-color;
        text-decoration: none;
      }

      a:hover, a:focus {
        color: $article-heading-link-hover-color;
        background: none;
      }
    }

    h1 {
      font-size: $article-font-size * 2.0;
      line-height: $article-line-height * 1.75;
    }

    h2 { font-size: $article-font-size }
  }

  footer {
    ul {
      list-style-type: none;
      margin: 0;

      li {
        display: inline-block;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $article-footer-category-link-color;
          background: $article-footer-category-background-color;
          padding: 5px 15px;
          @include border-radius(4px);
          font-size: $article-footer-category-link-font-size;
          font-weight: bold;
        }
      }
    }
  }
}

nav#paginator {
  font-size: $paginator-font-size;
  @extend %clearfix;

  .newer-posts {
    float: left;
  }

  .older-posts {
    float: right;
  }
}

footer.site-footer {
  border-top: 4px solid $brand-green;
  padding: 25px 0 25px 0;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
  color: $footer-text-color;

  @extend %clearfix;

  h1 {
    font-size: $footer-title-font-size;
  }

  #profile-picture {
    float: left;
    width: 145px;

    img {
      @include border-radius(50%);
      border: 2px solid $white;
      width: 116px;
      @include transition(all 0.25s ease);
    }

    img:hover {
      @include transform(rotate(-5deg) scale(1.1) translate(-3px, -3px));
    }
  }

  #biography {
    width: auto;
    overflow: hidden;

    #biography-description {
      padding: 0 0 1em 0;
    }
  }

  .social-media-links ul li {
    margin: 0 10px 0 2px;
  }
}

.social-media-links ul li {
  display: inline-block;

  a {
    color: $footer-social-media-links-color;

    i {
      @include transition(all 0.25s ease);
    }
  }

  a i:hover {
    @include transform(scale(1.15) translate(-1px, -1px));
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: $content-max-width;
}

