// ---
// Variables
// ---

// Colors
$white:                   #ffffff;
$gray-base:               #262626;

$brand-green:             #44a340;

// Scaffolding
$body-background:         $gray-base;

$content-max-width:       820px;

