// ---
// Variables
// ---

// Colors
$white:                                       #ffffff;
$gray-base:                                   #262626;
$gray-lighter:                                #efefef;

$brand-green:                                 #44a340;
$brand-green-lightest:                        #dbf0db;

// Typography
$font-family-sans-serif:                      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:                           Palatino, Georgia, Times, serif;
$font-family-monospace:                       Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:                            $font-family-serif;
$font-color-base:                             $gray-base;

$link-color:                                  $brand_green;
$link-hover-color:                            $white;
$link-hover-background-color:                 $brand_green;
$link-transition-duration:                    0.15s;
$link-transition-curve:                       ease-out;

// Scaffolding
$body-background:                             $gray-base;
$body-selection-background-color:             $brand-green-lightest;

$content-max-width:                           820px;

$article-font-size:                           21px;
$article-line-height:                         32px;
$article-heading-link-color:                  $font-color-base;
$article-heading-link-hover-color:            $link-color;
$article-separator-width:                     1px;
$article-separator-color:                     $gray-lighter;

$footer-text-color:                           $white;
$footer-title-font-size:                      21px;
$footer-font-size:                            21px;
$footer-line-height:                          32px;

$code-font-size:                              16px;
$code-font-family:                            Monaco, Menlo, monospace;
$code-background:                             #002b36;
$code-default-color:                          #93a1a1;
$code-line-height:                            28px;

